{% extends "base.html" %}
{% load static %}

{% block registered_userpanel %}
    {% if user.is_authenticated %}
        {% include "registered_panel.html" %}
    {% else %}
        {% include "unregistered_panel.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="sort font-weight-bold mb-4">
        <a class="mr-4" href="{% url 'new_questions' %}">New Questions</a>
        <a href="{% url 'hot' %}">Hot Questions</a>
    </div>
    {% include "questions_list.html" %}
{% endblock %}