{% extends "base.html" %}
{% load static %}

{% block registered_userpanel %}
{% include "registered_panel.html" %}
{% endblock %}

{% block content %}
<div class="media my-4">
    <div>
        <img class="mr-3" src="{% static 'img/fff75.jpg' %}" alt="Generic placeholder image">
        <div class="rating mt-2 mr-3">
            <button type="button" class="btn btn-block btn-outline-dark" disabled>{{ question.rating }}</button>
            <div class="mt-1">
                <button type="button" class="btn btn-primary brown">+</button>
                <button type="button" class="btn btn-primary brown">-</button>
            </div>
        </div>
    </div>
    <div class="media-body">
        <h3 class="mt-0 mb-1">{{ question.title }}</h3>
        <p>{{ question.text }}</p>
        Tags:
        {% for tag in question.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.text }}</a>
        {% endfor %}
    </div>
</div>
<hr>
{% include "answers_list.html" %}
<div class="form-group">
    <textarea type="text" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your answer here" rows="5" required></textarea>
</div>
<button type="button" class="btn btn-success"> <b>Answer</b> </button>
{% endblock %}